<p id="signature" style="font-size:smaller;color:595959;">
<span style="font-weight:bold">[cn]</span><br />
<span>[postaladdress]</span><br />
<span>Telephone: [telephonenumber]</span><br />
<span>Mobile: [mobile]</span>
</p>
